<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">

<title>List</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SLIPP</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="navbar-nav nav navbar-right">
					<li class="nav-item"><a class="nav-link" href="/form.html">회원가입</a></li>
					<li class="nav-item"><a class="nav-link" href="/list">사용자목록</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<table class="table table-condensed">
			<caption>사용자 목록</caption>
			<thead>
				<tr>
					<th>사용자 아이디</th>
					<th>이름</th>
					<th>이메일</th>
				</tr>
			</thead>
			<tbody>
				{{#users}}
				<tr>
					<th scope="row">{{userId}}</th>
					<td>{{userName}}</td>
					<td>{{userEmail}}</td>
				</tr>
				{{/users}}
			</tbody>
		</table>
	</div>
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
